Repository MarkH817/lion-byte.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Updating “2018-12-29-year-in-review-2018” metadata
  2018-12-29-year-in-review-2018.json
Due: none

Update 2018-12-29-year-in-review-2018.md
  posts/entries/2018-12-29-year-in-review-2018.md
Due: prettier --write

Create Blog Entry “2018-12-29-year-in-review-2018” (#27)
  posts/entries/2018-12-29-year-in-review-2018.md
Due: prettier --write

Update 2018-12-15-commuting-and-podcasts.md
  posts/entries/2018-12-15-commuting-and-podcasts.md
Due: prettier --write

Increase general font size
  src/components/Header.js
  src/components/Layout.js
  src/components/Nav.js
  src/components/Theme.js
  src/partials/bio.md
Due: prettier --write, eslint --fix

Add screenshots for each project
  src/projects/generator-lionbyte.md
  src/projects/generator-lionbyte.png
  src/projects/soft-sight.md
  src/projects/soft-sight.png
  src/projects/sound-of-code.md
  src/projects/sound-of-code.png
  src/projects/unl-igem-safety-case.md
  src/projects/unl-igem-safety-case.png
  src/projects/verdantia.md
  src/projects/verdantia.png
Due: prettier --write

Style project list
  src/components/ProjectList.js
  src/components/Theme.js
  src/projects/generator-lionbyte.md
  src/projects/soft-sight.md
  src/projects/sound-of-code.md
  src/projects/unl-igem-safety-case.md
  src/projects/verdantia.md
  src/templates/BlogPostPage.js
Due: prettier --write, eslint --fix

Project screenshots (#29)
  src/components/ProjectList.js
  src/components/Theme.js
  src/projects/generator-lionbyte.md
  src/projects/generator-lionbyte.png
  src/projects/soft-sight.md
  src/projects/soft-sight.png
  src/projects/sound-of-code.md
  src/projects/sound-of-code.png
  src/projects/unl-igem-safety-case.md
  src/projects/unl-igem-safety-case.png
  src/projects/verdantia.md
  src/projects/verdantia.png
  src/templates/BlogPostPage.js
Due: prettier --write, eslint --fix

Set Layout component for use in wrapPageElement
  gatsby-browser.js
  gatsby-ssr.js
  src/templates/BlogPostPage.js
  src/templates/Page.js
Due: prettier --write, eslint --fix

Update verdantia.md
  src/projects/verdantia.md
Due: prettier --write

Update dependencies
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Add jest testing
  .eslintrc.json
  __mocks__/fileMock.js
  __mocks__/gatsby.js
  jest.config.js
  package-lock.json
  package.json
  src/components/__tests__/Nav.test.js
  src/components/__tests__/__snapshots__/Nav.test.js.snap
  test/jest-preprocess.js
  test/loadershim.js
Due: prettier --write, eslint --fix

Use jest in test script
  jest-runner-eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  test/jest.common.js
  test/jest.lint.js
Due: prettier --write, eslint --fix

Testing (#30)
  .eslintrc.json
  __mocks__/fileMock.js
  __mocks__/gatsby.js
  gatsby-config.js
  jest-runner-eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  src/components/__tests__/Nav.test.js
  src/components/__tests__/__snapshots__/Nav.test.js.snap
  test/jest-preprocess.js
  test/jest.common.js
  test/jest.lint.js
  test/loadershim.js
Due: prettier --write, eslint --fix

Add RPJournal to project directory
  src/projects/rpjournal.md
  src/projects/rpjournal.png
Due: prettier --write

Update Verdantia screenshot
  src/projects/verdantia.png
Due: none

Add "Building RPJournal" post
  posts/entries/2019-02-19-building-rpjournal.md
  posts/media/rpjournal-1.png
Due: prettier --write

Adjust blog post styles
  src/components/Theme.js
  src/templates/BlogPostPage.js
Due: prettier --write, eslint --fix

RPJournal Post (#31)
  posts/entries/2019-02-19-building-rpjournal.md
  posts/media/rpjournal-1.png
  src/components/Theme.js
  src/projects/rpjournal.md
  src/projects/rpjournal.png
  src/projects/verdantia.png
  src/templates/BlogPostPage.js
Due: prettier --write, eslint --fix

Update deps
  package-lock.json
  package.json
Due: none

Simplify configurations
  gatsby-config.js
  gatsby-node.js
  posts/entries/2019-02-19-building-rpjournal.md
  src/components/PostPreviewList.js
  src/components/PostPreviews.js
  src/components/Project.js
  src/components/Projects.js
  src/pages/about.js
  src/pages/blog.js
  src/pages/index.js
  src/partials/bio.md
Due: prettier --write, eslint --fix

Use object-spread syntax
  gatsby-config.js
Due: prettier --write, eslint --fix

Add typescript
  package-lock.json
  package.json
  src/components/Header.js
  src/components/Meta.js
  src/components/Nav.js
  src/components/Profile.js
  test/loadershim.js
  test/theme.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Update styles to use less theme vars and more ems
  src/components/Header.js
  src/components/Layout.js
  src/components/Nav.js
  src/components/PostPreview.js
  src/components/PostPreviews.js
  src/components/Project.js
  src/components/Projects.js
  src/components/Theme.js
  src/templates/BlogPostPage.js
  test/theme.d.ts
Due: prettier --write, eslint --fix

Flex on them
  package-lock.json
  package.json
  src/components/Header.js
  src/components/Introduction.js
  src/components/Nav.js
  src/components/Profile.js
  src/components/Theme.js
  src/pages/about.js
  src/pages/contact.js
  src/templates/BlogPostPage.js
Due: prettier --write, eslint --fix

Update Nav test snapshot
  src/components/__tests__/Nav.test.js
  src/components/__tests__/__snapshots__/Nav.test.js.snap
Due: prettier --write, eslint --fix

Add photo and more flexbox
  gatsby-config.js
  src/components/Introduction.js
  src/components/Profile.js
  src/images/mark.jpg
  src/images/profile.png
  src/pages/about.js
  src/templates/BlogPostPage.js
Due: prettier --write, eslint --fix

Remove redundant files
  src/components/Header.js
  src/components/Introduction.js
  src/components/Profile.js
Due: prettier --write, eslint --fix

Styling (#32)
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  posts/entries/2019-02-19-building-rpjournal.md
  src/components/Header.js
  src/components/Introduction.js
  src/components/Layout.js
  src/components/Meta.js
  src/components/Nav.js
  src/components/PostPreview.js
  src/components/PostPreviewList.js
  src/components/PostPreviews.js
  src/components/Profile.js
  src/components/Project.js
  src/components/Projects.js
  src/components/Theme.js
  src/components/__tests__/Nav.test.js
  src/components/__tests__/__snapshots__/Nav.test.js.snap
  src/images/mark.jpg
  src/images/profile.png
  src/pages/about.js
  src/pages/blog.js
  src/pages/contact.js
  src/pages/index.js
  src/partials/bio.md
  src/templates/BlogPostPage.js
  test/loadershim.js
  test/theme.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Add ProfileCard style component
  src/components/Introduction.js
  src/components/styles/ProfileCard.js
  src/pages/about.js
Due: prettier --write, eslint --fix

Add ProfileCard style component (#33)
  src/components/Introduction.js
  src/components/styles/ProfileCard.js
  src/pages/about.js
Due: prettier --write, eslint --fix

Add post
  posts/entries/2019-07-11-beginning-at-nico.md
Due: prettier --write

Limit build to Node v10
  .nvmrc
  .travis.yml
Due: none

Update packages
  jest.config.js
  package-lock.json
  package.json
  posts/entries/2018-12-29-year-in-review-2018.md
Due: prettier --write, eslint --fix

Change static queries to use hooks
  src/components/Introduction.js
  src/components/PostPreviews.js
  src/components/Projects.js
Due: prettier --write, eslint --fix

Functions are fine
  src/components/Header.js
  src/components/Introduction.js
  src/components/Layout.js
  src/components/Meta.js
  src/components/Nav.js
  src/components/PostPreview.js
  src/components/Project.js
  src/components/Theme.js
  src/components/styles/ProfileCard.js
  src/pages/404.js
  src/pages/about.js
  src/pages/blog.js
  src/pages/index.js
  src/templates/BlogPostPage.js
  src/templates/Page.js
Due: prettier --write, eslint --fix

Update packages
  package-lock.json
  package.json
Due: none

Declutter components
  .eslintrc.json
  jest.config.js
  src/components/Header.js
  src/components/Layout.js
  src/components/Meta.js
  src/components/Nav.js
  src/components/PostPreview.js
  src/components/PostPreviews.js
  src/components/Project.js
  src/components/Projects.js
  src/components/__tests__/Header.test.js
  src/components/__tests__/__snapshots__/Header.test.js.snap
  src/components/__tests__/__snapshots__/Nav.test.js.snap
  src/templates/Page.js
  test/jest.common.js
Due: prettier --write, eslint --fix

Fix package-lock
  package-lock.json
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.{md,less})
  eslint --fix: any of: *.js
