Repository MarkH817/lion-byte.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Remove service worker
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Reset base stylesheet
  .eleventy.js
  package-lock.json
  package.json
  src/assets/styles/site.less
  webpack/webpack.common.js
Due: prettier --write, eslint --fix

Update packages and move postcss configuration
  package-lock.json
  package.json
  postcss.config.js
  src/assets/scripts/blog.js
  src/assets/scripts/index.js
  src/assets/styles/blog.less
  src/assets/styles/index.less
  webpack/webpack.common.js
Due: prettier --write, eslint --fix

Add lionbyte-design-tokens component
  src/_includes/layouts/base.html
  src/assets/scripts/index.js
  src/assets/scripts/modules/dev-only.js
  src/assets/scripts/utils/sleep.js
  src/assets/scripts/web-components/DesignTokens.js
  src/assets/scripts/web-components/custom-components.d.ts
  src/assets/styles/layout/layout.less
  tsconfig.json
Due: prettier --write, eslint --fix

Place additional blocks for preloads/prefetches/scripts in base template
  src/_includes/layouts/about.html
  src/_includes/layouts/base.html
  src/_includes/layouts/feed.html
  src/_includes/layouts/post.html
  src/assets/scripts/about.js
  src/assets/styles/about.less
  src/assets/styles/blocks/Introduction.less
  src/assets/styles/blocks/ProfileCard.less
  src/assets/styles/blocks/_index.less
  webpack/webpack.common.js
Due: prettier --write, eslint --fix

Performance enhancements
  src/_includes/layouts/about.html
  src/_includes/layouts/base.html
  src/_includes/partials/introduction.html
  src/_includes/partials/site-head.html
  src/assets/styles/base/typography.less
  src/assets/styles/layout/layout.less
  src/assets/styles/post.less
  src/filters/date-filter.js
  src/images/icons/mark-256x256.jpg
  src/images/icons/mark-256x256.webp
  src/images/icons/profile-256x256.jpg
  src/images/icons/profile-256x256.webp
Due: prettier --write, eslint --fix

Remove past project content
  .eleventy.js
  src/_includes/layouts/about.html
  src/_includes/partials/project-list.html
  src/assets/styles/about.less
  src/images/projects/generator-lionbyte.png
  src/images/projects/rpjournal.png
  src/images/projects/soft-sight.png
  src/images/projects/sound-of-code.png
  src/images/projects/unl-igem-safety-case.png
  src/images/projects/verdantia.png
  src/projects/generator-lionbyte.md
  src/projects/rpjournal.md
  src/projects/soft-sight.md
  src/projects/sound-of-code.md
  src/projects/unl-igem-safety-case.md
  src/projects/verdantia.md
Due: prettier --write, eslint --fix

Perform Lighthouse suggestions
  src/_data/navigation.json
  src/_data/site.json
  src/_includes/partials/meta.html
  src/_includes/partials/site-head.html
  src/assets/styles/blocks/ProfileCard.less
  src/assets/styles/layout/site-head.less
  src/index.md
Due: prettier --write

Add more head tags and adjust import paths
  .eslintrc.json
  src/_data/site.json
  src/_includes/partials/introduction.html
  src/_includes/partials/meta.html
  src/assets/scripts/index.js
  src/assets/styles/blocks/Introduction.less
  src/assets/styles/layout/site-head.less
  src/images/icons/profile-32x32.png
  src/notes/test.md
  tsconfig.json
  webpack/webpack.common.js
Due: prettier --write, eslint --fix

Add RSS feed
  .eleventy.js
  src/_includes/partials/meta.html
  src/rss.html
Due: prettier --write, eslint --fix

Add 404 page
  src/404.md
  src/_includes/layouts/404.html
Due: prettier --write

Fix font preloading message, possibly?
  src/_includes/layouts/base.html
Due: none

Update feed and main layout styles
  src/assets/styles/feed.less
  src/assets/styles/layout/layout.less
  src/images/icons/note.md
  src/notes/noop.md
  src/notes/test.md
Due: prettier --write

Add prefetches for other stylesheets
  src/_includes/layouts/about.html
  src/_includes/layouts/feed.html
  src/_includes/layouts/home.html
  src/_includes/layouts/post.html
Due: none

update packages and add fun transitions
  .babelrc
  .eslintrc.json
  jest.config.js
  package-lock.json
  package.json
  src/assets/scripts/modules/dev-only.js
  src/assets/scripts/modules/dev-only.ts
  src/assets/scripts/utils/sleep.js
  src/assets/scripts/utils/sleep.ts
  src/assets/scripts/web-components/DesignTokens.js
  src/assets/scripts/web-components/custom-components.d.ts
  src/assets/styles/blocks/Introduction.less
  src/assets/styles/feed.less
  src/assets/styles/layout/site-head.less
  webpack/webpack.common.js
Due: prettier --write, eslint --fix

Add feedback style when link is active
  src/_includes/partials/post-list.html
  src/assets/styles/blocks/Introduction.less
  src/assets/styles/feed.less
Due: prettier --write

Add watch target
  .eleventy.js
Due: prettier --write, eslint --fix

Add links to web dev. Twitter account and Twitch channel
  src/_includes/partials/introduction.html
  src/assets/styles/post.less
Due: prettier --write

Match main site link style w/ other nav links
  package-lock.json
  package.json
  src/assets/styles/layout/site-head.less
Due: prettier --write

Shift assets closer to root directory
  .eleventy.js
  assets/fonts/Hey-Gorgeous.ttf
  assets/fonts/Hey-Gorgeous.woff
  assets/fonts/Hey-Gorgeous.woff2
  assets/scripts/about.js
  assets/scripts/feed.js
  assets/scripts/index.js
  assets/scripts/modules/dev-only.ts
  assets/scripts/post.js
  assets/scripts/utils/sleep.ts
  assets/styles/about.less
  assets/styles/base/_index.less
  assets/styles/base/typography.less
  assets/styles/base/variables.less
  assets/styles/blocks/Introduction.less
  assets/styles/blocks/ProfileCard.less
  assets/styles/blocks/_index.less
  assets/styles/feed.less
  assets/styles/index.less
  assets/styles/layout/_index.less
  assets/styles/layout/layout.less
  assets/styles/layout/site-head.less
  assets/styles/post.less
  assets/styles/utils/_index.less
  assets/styles/utils/sr-only.less
  src/_includes/partials/introduction.html
  tsconfig.json
  webpack/webpack.common.js
Due: prettier --write, eslint --fix

Add night/day themes using CSS vars
  assets/styles/base/typography.less
  assets/styles/base/variables.less
  assets/styles/layout/site-head.less
  assets/styles/post.less
Due: prettier --write

Increase color contrast in light/dark modes
  assets/styles/base/variables.less
Due: prettier --write

Update about text and ENHANCE font sizes
  assets/styles/base/typography.less
  assets/styles/feed.less
  assets/styles/post.less
  src/_includes/partials/introduction.html
  src/about.md
Due: prettier --write

Update to webpack 5
  package-lock.json
  package.json
  webpack/postcss.config.js
  webpack/webpack.common.js
  webpack/webpack.prod.js
Due: prettier --write, eslint --fix

Update build settings
  .nvmrc
  .travis.yml
Due: none

Update dependencies
  .npm-upgrade.json
  assets/scripts/utils/sleep.ts
  package-lock.json
  package.json
  tsconfig.json
  webpack/webpack.common.js
Due: prettier --write, eslint --fix

Add local snippets and new note
  .vscode/bloggers.code-snippets
  assets/styles/blocks/Introduction.less
  src/blog.md
  src/notes.md
  src/notes/magic.md
  src/notes/noop.md
Due: prettier --write

Update dependencies
  .eslintrc.json
  .stylelintrc.json
  assets/scripts/index.js
  assets/scripts/modules/dev-only.ts
  assets/styles/base/_index.less
  assets/styles/base/focus.less
  assets/styles/base/inputs.less
  assets/styles/base/typography.less
  package-lock.json
  package.json
  src/_data/helpers.js
  src/_includes/layouts/base.html
  src/filters/date-filter.js
  src/filters/iso-date-filter.js
Due: prettier --write, eslint --fix

Use shortcut references to styles and remove unused code
  assets/scripts/about.js
  assets/scripts/feed.js
  assets/scripts/index.js
  assets/scripts/modules/dev-only.ts
  assets/scripts/utils/isDevMode.ts
  src/_includes/layouts/base.html
Due: prettier --write, eslint --fix

Rename entry files to `.ts` files
  .babelrc
  assets/scripts/about.ts
  assets/scripts/feed.ts
  assets/scripts/index.ts
  assets/scripts/post.ts
  webpack/webpack.common.js
Due: prettier --write, eslint --fix

Simplify file path resolution
  webpack/paths.js
  webpack/webpack.common.js
Due: prettier --write, eslint --fix

Remove pre-commit hooks
  .huskyrc
  .lintstagedrc
  .npm-upgrade.json
  package-lock.json
  package.json
Due: none

Move from `assets` to `src-app`
  src-app/fonts/Hey-Gorgeous.ttf
  src-app/fonts/Hey-Gorgeous.woff
  src-app/fonts/Hey-Gorgeous.woff2
  src-app/scripts/about.ts
  src-app/scripts/feed.ts
  src-app/scripts/index.ts
  src-app/scripts/post.ts
  src-app/scripts/utils/isDevMode.ts
  src-app/scripts/utils/sleep.ts
  src-app/styles/about.less
  src-app/styles/base/_index.less
  src-app/styles/base/focus.less
  src-app/styles/base/inputs.less
  src-app/styles/base/typography.less
  src-app/styles/base/variables.less
  src-app/styles/blocks/Introduction.less
  src-app/styles/blocks/ProfileCard.less
  src-app/styles/blocks/_index.less
  src-app/styles/feed.less
  src-app/styles/index.less
  src-app/styles/layout/_index.less
  src-app/styles/layout/layout.less
  src-app/styles/layout/site-head.less
  src-app/styles/post.less
  src-app/styles/utils/_index.less
  src-app/styles/utils/sr-only.less
  tsconfig.json
  webpack/paths.js
Due: prettier --write, eslint --fix

Minimize preloaded fonts
  src/_includes/layouts/base.html
Due: none

Add more utility CSS classes
  src-app/styles/base/typography.less
  src-app/styles/blocks/Introduction.less
  src-app/styles/post.less
  src-app/styles/utils/_index.less
  src-app/styles/utils/display.less
  src-app/styles/utils/flex.less
  src-app/styles/utils/list.less
  src-app/styles/utils/position.less
  src-app/styles/utils/text-align.less
  src-app/styles/utils/visually-hidden.less
  src/_includes/partials/site-head.html
Due: prettier --write

Cleanup styles to use utility classes
  src-app/styles/base/typography.less
  src-app/styles/base/variables.less
  src-app/styles/feed.less
  src-app/styles/layout/site-head.less
  src-app/styles/post.less
  src/_includes/layouts/post.html
  src/_includes/partials/pagination.html
  src/_includes/partials/post-list.html
  src/_includes/partials/site-head.html
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.{md,less})
  eslint --fix: any of: *.js
