Repository MarkH817/lion-byte.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add eslintignore file
  .eslintignore
Due: none

Adjust package scripts and Header responsive sizing
  .vscode/tasks.json
  package.json
  posts/0001--hello/index.md
  posts/0002--updating-generator-lionbyte/index.md
  posts/0004--js-crash-course/index.md
  src/components/Header.js
Due: prettier --write, eslint --fix

Add Introduction component to the ends of blog post pages
  src/templates/BlogPostPage.js
Due: prettier --write, eslint --fix

Move common UI components to outer wrapper
  gatsby-browser.js
  gatsby-config.js
  src/components/Layout.js
  src/components/Meta.js
  src/components/Nav.js
  src/components/Profile.js
  src/components/Theme.js
  src/styles/main.less
Due: prettier --write, eslint --fix

Move common UI components to outer wrapper (#23)
  gatsby-browser.js
  gatsby-config.js
  src/components/Layout.js
  src/components/Meta.js
  src/components/Nav.js
  src/components/Profile.js
  src/components/Theme.js
  src/styles/main.less
Due: prettier --write, eslint --fix

Revert to previous organization
  gatsby-browser.js
  src/components/Layout.js
Due: prettier --write, eslint --fix

Update eslintrc
  .eslintrc.json
Due: none

Prepare blog portion for cms
  gatsby-node.js
  netlify.toml
  posts/2018-02-16-hello.md
  posts/2018-03-11-updating-generator-lionbyte.md
  posts/2018-06-17-design-studio-xkit-and-typescript.md
  posts/2018-07-10-javascript-crash-course.md
  posts/media/ds-rockstar.jpg
  src/templates/BlogPostPage.js
  static/admin/config.yml
Due: prettier --write, eslint --fix

Add Netlify CMS
  gatsby-config.js
  package-lock.json
  package.json
  static/admin/config.yml
Due: prettier --write, eslint --fix

Add Netlify-CMS (#24)
  gatsby-config.js
  gatsby-node.js
  netlify.toml
  package-lock.json
  package.json
  posts/2018-02-16-hello.md
  posts/2018-03-11-updating-generator-lionbyte.md
  posts/2018-06-17-design-studio-xkit-and-typescript.md
  posts/2018-07-10-javascript-crash-course.md
  posts/media/ds-rockstar.jpg
  src/templates/BlogPostPage.js
  static/admin/config.yml
Due: prettier --write, eslint --fix

Create Blog “2018-12-11-a”
  posts/blog/2018-12-11-a.md
Due: prettier --write

First Commit
  README.md
Due: prettier --write

Updating “2018-12-11-a” metadata
  2018-12-11-a.json
Due: none

Fix cms config
  posts/entries/2018-02-16-hello.md
  posts/entries/2018-03-11-updating-generator-lionbyte.md
  posts/entries/2018-06-17-design-studio-xkit-and-typescript.md
  posts/entries/2018-07-10-javascript-crash-course.md
  static/admin/config.yml
Due: prettier --write

Create Blog “2018-12-12-commuting-and-podcasts”
  posts/entries/2018-12-12-commuting-and-podcasts.md
Due: prettier --write

Updating “2018-12-12-commuting-and-podcasts” metadata
  2018-12-12-commuting-and-podcasts.json
Due: none

Update Blog “2018-12-12-commuting-and-podcasts”
  posts/entries/2018-12-12-commuting-and-podcasts.md
Due: prettier --write

Format post and correct date
  posts/entries/2018-12-15-commuting-and-podcasts.md
Due: prettier --write

Switch to master branch
  static/admin/config.yml
Due: none

Remove LESS. Adjust line-height and width. Update bio.
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Header.js
  src/components/Introduction.js
  src/components/Theme.js
  src/pages/contact.js
  src/partials/bio.md
  src/styles/colors.less
  src/styles/main.less
Due: prettier --write, eslint --fix

Update lintstaged config
  .lintstagedrc
Due: none

Update style of project descriptions
  src/components/Project.js
  src/projects/unl-igem-safety-case.md
Due: prettier --write, eslint --fix

Update unl-igem-safety-case.md
  src/projects/unl-igem-safety-case.md
Due: prettier --write

Add nprogress
  .eslintignore
  .gitignore
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Remove redundant meta tag
  src/components/Layout.js
  src/components/Meta.js
Due: prettier --write, eslint --fix

Update dependencies
  .prettierrc
  package-lock.json
  package.json
  src/components/Meta.js
Due: prettier --write, eslint --fix

Adjust cms config
  static/admin/config.yml
Due: none

Add travis-ci script
  .travis.yml
Due: none

Update README
  README.md
Due: prettier --write

Create Blog Entry “2018-12-29-year-in-review-2018”
  posts/entries/2018-12-29-year-in-review-2018.md
Due: prettier --write

Updating “2018-12-29-year-in-review-2018” metadata
  2018-12-29-year-in-review-2018.json
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.{md,less})
  eslint --fix: any of: *.js
