Repository MarkH817/lion-byte.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": ["prettier --write", "eslint --fix", "git add"],
  "*.{json,yml,yaml,css,less,ts,md}": [
    "prettier --write",
    "git add"
  ]
}

yup
  src-app/styles/base/variables.less
  src-app/styles/post.less
Due: prettier --write

Remove lazy
  src/_includes/partials/introduction.html
Due: none

Remove lazy image in about
  src/_includes/layouts/about.html
Due: none

Upgrade packages
  package-lock.json
  package.json
Due: prettier --write

Fix CI
  .travis.yml
Due: prettier --write

Add Mastodon link :3c
  src/_includes/partials/introduction.html
  src/about.md
Due: prettier --write

Update to @11ty/eleventy,,,, 2!!
  package-lock.json
  package.json
Due: prettier --write

Rename block styles to be consistent
  src-app/styles/blocks/_index.less
  src-app/styles/blocks/profile-card.less
  src-app/styles/blocks/social.less
Due: prettier --write

Remove unused notes
  src/_data/navigation.json
Due: prettier --write

Update watch target directory
  .eleventy.js
Due: prettier --write, eslint --fix

Add neat main nav link animation
  src-app/styles/layout/site-head.less
Due: prettier --write

Add webc and html-minifier
  .eleventy.js
  package-lock.json
  package.json
  src-app/scripts/about.ts
  src-app/scripts/feed.ts
  src-app/scripts/post.ts
  src-app/styles/about.less
  src-app/styles/blocks/_index.less
  src-app/styles/blocks/profile-card.less
  src-app/styles/blocks/social.less
  src-app/styles/index.less
  src-app/styles/post.less
  src/_includes/components/profile-card.webc
  src/_includes/components/social-link.webc
  src/_includes/layouts/about.html
  src/_includes/layouts/base.html
  src/_includes/layouts/feed.html
  src/_includes/layouts/home.html
  src/_includes/layouts/post.html
  src/_includes/partials/introduction.html
  src/about.md
  src/about.webc
  src/index.md
  src/index.webc
  webpack/webpack.common.js
Due: prettier --write, eslint --fix

Rename config file
  eleventy.config.js
Due: prettier --write, eslint --fix

Typo fixes
  src-app/styles/layout/_index.less
  src-app/styles/layout/header.less
  src/about.webc
  src/posts/building-rpjournal.md
  src/posts/ds-xkit-and-typescript.md
  src/posts/fetch-and-query-params.md
  src/posts/js-crash-course.md
  src/posts/updating-generator-lionbyte.md
Due: prettier --write

Typography WIP
  eleventy.config.js
  src-app/styles/base/typography.less
  src-app/styles/base/variables.less
  src-app/styles/feed.less
  src-app/styles/post.less
  src/_includes/layouts/post.html
  tsconfig.json
Due: prettier --write, eslint --fix

Update dark mode and post styles
  src-app/styles/base/variables.less
  src-app/styles/layout/header.less
  src-app/styles/post.less
  src/index.webc
  src/pronouns.webc
Due: prettier --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

Add WebC files for feed pages
  .vscode/settings.json
  src/_includes/components/feed-list.webc
  src/_includes/components/feed-pagination.webc
  src/blog.md
  src/blog.webc
  src/notes.md
  src/notes.webc
Due: prettier --write

Remove former feed layout implementation
  src-app/styles/feed.less
  src/_includes/layouts/feed.html
  src/_includes/layouts/post.html
  src/_includes/partials/pagination.html
  src/_includes/partials/post-list.html
  webpack/webpack.common.js
Due: prettier --write, eslint --fix

refactor(build): Inline post styles and reduce webpack use
  package.json
  src-app/styles/post.less
  src/_includes/layouts/post.html
  webpack/webpack.common.js
Due: prettier --write, eslint --fix

perf: Minify inline CSS in 11ty build
  eleventy.config.js
Due: prettier --write, eslint --fix

feat: :sparkles: Update dependencies and migrate to ES Modules
  .travis.yml
  eleventy.config.js
  jest-runner-eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  src/_data/helpers.js
  src/filters/date-filter.js
  src/filters/iso-date-filter.js
  src/rss.html
  test/jest.common.js
  test/jest.lint.js
  tsconfig.json
  webpack/paths.js
  webpack/postcss.config.js
  webpack/webpack.common.js
  webpack/webpack.dev.js
  webpack/webpack.prod.js
Due: prettier --write, eslint --fix

fix: Replace html-minifier with html-minifier-next
  eleventy.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: Regenerate package-lock.json
  package-lock.json
Due: prettier --write

style: Simplify
  eleventy.config.js
  jest-runner-eslint.config.js
  src/filters/date-filter.js
  src/filters/iso-date-filter.js
  test/jest.common.js
  webpack/paths.js
  webpack/webpack.common.js
Due: prettier --write, eslint --fix

Update dependencies
  .eslintrc.json
  .github/workflows/ci.yml
  .travis.yml
  __mocks__/file-mock.js
  eleventy.config.js
  eslint.config.mjs
  jest-runner-eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  test/jest.common.js
  test/jest.lint.js
  tsconfig.json
Due: prettier --write, eslint --fix

Remove build status badge from README
  README.md
Due: prettier --write

Remove component tag with `webc:nokeep`
  src/_includes/components/feed-list.webc
  src/_includes/components/feed-pagination.webc
  src/_includes/components/profile-card.webc
  src/_includes/components/social-link.webc
  src/about.webc
  src/blog.webc
  src/index.webc
  src/notes.webc
Due: none

Update dependencies and test script
  package-lock.json
  package.json
Due: prettier --write

Update prettier parameter and run formatter
  .vscode/settings.json
  package.json
  src/posts/updating-generator-lionbyte.md
Due: prettier --write

Inline core css
  src/layouts/BaseLayout.astro
  src/styles/global.css
Due: prettier --write

Add font preload hint and inline normalize styles
  src/layouts/BaseLayout.astro
  src/styles/global.css
Due: prettier --write

Fix RSS content type
  src/pages/rss.xml.ts
Due: prettier --write
