Repository MarkH817/lion-byte.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": ["prettier --write", "eslint --fix", "git add"],
  "*.{md,less}": ["prettier --write", "git add"]
}

Cleanup and Update (#34)
  .eslintrc.json
  jest.config.js
  package-lock.json
  package.json
  src/components/Header.js
  src/components/Layout.js
  src/components/Meta.js
  src/components/Nav.js
  src/components/PostPreview.js
  src/components/PostPreviews.js
  src/components/Project.js
  src/components/Projects.js
  src/components/__tests__/Header.test.js
  src/components/__tests__/__snapshots__/Header.test.js.snap
  src/components/__tests__/__snapshots__/Nav.test.js.snap
  src/templates/Page.js
  test/jest.common.js
Due: prettier --write, eslint --fix

Update packages
  .npm-upgrade.json
  package-lock.json
  package.json
  src/templates/Page.js
Due: prettier --write, eslint --fix

Use custom eslint-config
  .eslintrc.json
  .nvmrc
  .travis.yml
  package-lock.json
  package.json
Due: none

Add turretcss package
  package-lock.json
  package.json
Due: none

Remove defined styles and defer to turretcss
  src/components/Layout.js
  src/components/Theme.js
Due: prettier --write, eslint --fix

Revert "Add turretcss package"
  package-lock.json
  package.json
Due: none

Revert "Remove defined styles and defer to turretcss"
  src/components/Layout.js
  src/components/Theme.js
Due: prettier --write, eslint --fix

Slight information update
  src/components/Theme.js
  src/pages/about.js
  src/templates/Page.js
Due: prettier --write, eslint --fix

Pull images to dedicated folder
  src/components/Introduction.js
  src/components/images/MyPhoto.js
  src/components/images/Profile.js
  src/pages/about.js
Due: prettier --write, eslint --fix

Remove narrow style
  src/templates/BlogPostPage.js
Due: prettier --write, eslint --fix

fix: move global css imports to Layout.js
  src/components/Layout.js
  src/components/Theme.js
Due: prettier --write, eslint --fix

chore: update dependencies
  package-lock.json
  package.json
Due: none

Fix typo/wording
  posts/entries/2018-07-10-javascript-crash-course.md
Due: prettier --write

Add turretcss back in
  package-lock.json
  package.json
Due: none

Import turretcss stylesheet
  posts/entries/2019-07-11-beginning-at-nico.md
  src/components/Layout.js
  src/components/Theme.js
Due: prettier --write, eslint --fix

Defer styles to turretcss
  src/components/Header.js
  src/components/Layout.js
  src/components/PostPreviews.js
  src/components/Theme.js
  src/pages/404.js
  src/pages/about.js
  src/pages/blog.js
Due: prettier --write, eslint --fix

Narrow the file paths scanned
  gatsby-config.js
Due: prettier --write, eslint --fix

Update snapshots
  src/components/__tests__/__snapshots__/Header.test.js.snap
Due: none

chore: update dependencies
  .npm-upgrade.json
  README.md
  package-lock.json
  package.json
Due: prettier --write

test: add typecheck to test script
  package.json
Due: none

chore: move blog post directory
  gatsby-config.js
  src/posts/entries/2018-02-16-hello.md
  src/posts/entries/2018-03-11-updating-generator-lionbyte.md
  src/posts/entries/2018-06-17-design-studio-xkit-and-typescript.md
  src/posts/entries/2018-07-10-javascript-crash-course.md
  src/posts/entries/2018-12-15-commuting-and-podcasts.md
  src/posts/entries/2018-12-29-year-in-review-2018.md
  src/posts/entries/2019-02-19-building-rpjournal.md
  src/posts/media/ds-rockstar.jpg
  src/posts/media/rpjournal-1.png
  static/admin/config.yml
Due: prettier --write, eslint --fix

Update About sections
  src/components/Introduction.js
  src/pages/about.js
Due: prettier --write, eslint --fix

Add post
  package-lock.json
  package.json
  src/posts/entries/2020-01-18-year-in-review-2019.md
Due: prettier --write

Update test settings
  .npm-upgrade.json
  __mocks__/file-mock.js
  __mocks__/fileMock.js
  jest.config.js
  package-lock.json
  package.json
  src/components/__tests__/Header.test.js
  src/components/__tests__/__snapshots__/Header.test.js.snap
  tsconfig.json
Due: prettier --write, eslint --fix

Update dependencies and run linter
  __mocks__/gatsby.js
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/Header.js
  src/components/Introduction.js
  src/components/Layout.js
  src/components/Meta.js
  src/components/PostPreviews.js
  src/components/Projects.js
  src/components/Theme.js
  src/components/__tests__/Header.test.js
  src/components/images/MyPhoto.js
  src/components/images/Profile.js
  src/pages/about.js
  src/pages/blog.js
  src/pages/index.js
  src/templates/BlogPostPage.js
Due: prettier --write, eslint --fix

Write post and update packages
  .prettierrc
  package-lock.json
  package.json
  src/posts/entries/2020-04-05-fetch-and-query-params.md
  src/templates/BlogPostPage.js
Due: prettier --write, eslint --fix

Add `temp` to gitignore
  .gitignore
Due: none

Update dependencies
  package-lock.json
  package.json
  src/components/Theme.js
Due: prettier --write, eslint --fix

Add gatsby-less-plugin and remove styled-component usage
  .vscode/tasks.json
  gatsby-config.js
  gatsby-node.js
  jest.config.js
  package-lock.json
  package.json
  src/components/BlogPostList.js
  src/components/BlogPostList.less
  src/components/Header.js
  src/components/Header.less
  src/components/Introduction.js
  src/components/Introduction.less
  src/components/Layout.js
  src/components/ProjectList.js
  src/components/ProjectList.less
  src/components/Theme.js
  src/components/__tests__/Header.test.js
  src/components/__tests__/__snapshots__/Header.test.js.snap
  src/components/images/MyPhoto.js
  src/components/images/Profile.js
  src/components/styles/ProfileCard.js
  src/components/styles/ProfileCard.less
  src/pages/about.js
  src/pages/blog.js
  src/pages/index.js
  src/styles/base/layout.less
  src/styles/base/typography.less
  src/styles/site.less
  src/templates/BlogPostPage.js
  src/templates/BlogPostPage.less
  src/templates/Page.js
  src/theme.js
  test/theme.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Uninstall styled-components
  .npm-upgrade.json
  README.md
  gatsby-config.js
  jest.config.js
  package-lock.json
  package.json
  test/jest-preprocess.js
Due: prettier --write, eslint --fix

Update dependencies
  .npm-upgrade.json
  package-lock.json
  package.json
Due: none

Remove Netlify CMS
  gatsby-config.js
  package-lock.json
  package.json
  static/admin/config.yml
Due: prettier --write, eslint --fix

Add global sizing variables
  gatsby-config.js
  src/styles/theme.js
  src/theme.js
Due: prettier --write, eslint --fix

Update BlogPostPage styles
  .vscode/tasks.json
  gatsby-config.js
  src/components/Header.js
  src/components/Header.less
  src/components/Layout.js
  src/components/ProjectList.less
  src/components/styles/ProfileCard.less
  src/styles/base/layout.less
  src/styles/base/typography.less
  src/styles/theme.js
  src/templates/BlogPostPage.js
  src/templates/BlogPostPage.less
Due: prettier --write, eslint --fix

Update page title styles to be mostly consistent
  gatsby-config.js
  src/components/Header.less
  src/components/ProjectList.js
  src/components/ProjectList.less
  src/pages/404.js
  src/pages/about.js
  src/pages/blog.js
  src/pages/index.js
  src/styles/base/typography.less
Due: prettier --write, eslint --fix

Update styles for blog post list
  src/components/BlogPostList.js
  src/components/BlogPostList.less
  src/components/Header.js
  src/components/Header.less
  src/components/Introduction.js
  src/posts/entries/2020-04-05-fetch-and-query-params.md
  src/templates/BlogPostPage.less
Due: prettier --write, eslint --fix

Swap global style variables to use CSS custom properties
  gatsby-config.js
  src/components/BlogPostList.js
  src/components/BlogPostList.less
  src/components/Header.less
  src/styles/base/typography.less
  src/styles/site.less
  src/styles/theme.js
  src/templates/BlogPostPage.less
Due: prettier --write, eslint --fix

Update readme and about
  README.md
  src/pages/about.js
Due: prettier --write, eslint --fix

Update header snapshot test
  src/components/__tests__/__snapshots__/Header.test.js.snap
Due: none
